.red {
    background-color: red;
    height: 180px !important;
}
.green {
    background-color: green;
    height: 80px !important;
    
    
}
.blue {
    background-color: blue;
    /* margin: 50px; */
}
.container div {
    width: 100px;
    height: 100px;
}
.container {
    display: flex;
    align-items: baseline;
    flex-direction: column-reverse;
    /* justify-content: space-around; */



    width: 300vh;
    height: 100vh;
}
